{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VC Not Verified</title>
        <link rel="stylesheet" href="{% static 'VC_interface/css/VC_notverify.css' %}">

</head>
<body>
    <div class="container">
        <div class="icon">
            <div class="cross"></div>
        </div>
        <h1>VC Not Verified</h1>
        <p>The Verifiable Credential could not be verified.</p>
    </div>
</body>
</html>
