{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification du VC</title>
    <link rel="stylesheet" href="{% static 'VC_interface/css/VC_verify.css' %}">

</head>
<body>
    <div class="container">
        <div class="checkmark">&#10004;</div>
        <h2>The VC has been successfully verified!</h2>
        <div class="vc-info">
            <p><strong>Date of issue:</strong> {{ created_at}}</p>
            <p><strong>Year of graduation:</strong> {{ year }}</p>
        </div>
    </div>
</body>
</html>
